.main{
    width: 100%;
    background: #000;
}

.column{
    width: 50%;
    display: inline-block;
}

#heading-home{

    margin-left: 20px;
    margin-bottom: 100px;
}

.right-col{



}

.left-col{
    
}

.home-heading{
    
}







.card{
    position: relative;
    float: left;
    margin: 20px;
}